#portfolio .badge-warning{
margin-top:4px;
font-size:100%;	
}

.list-group-item.active{
background-color: gainsboro;
    border-color: beige;	
}


.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}


#whatsappnum{
	background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: 3px;
}